# Variables de entorno
.env
.env.local
.env.production
.env.development
.env.*.local

!.env.example

# .NET / ASP.NET Core
**/bin/
**/obj/
**/out/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.swp

# Publicación
**/publish/
**/Properties/launchSettings.json

# Next.js / Node
**/node_modules/
**/.next/
**/out/
**/build/
**/dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel

# Docker
docker-compose.override.yml

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db
desktop.ini